.star_wars_app {
    height: 500px;
    width: 500px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-radius: 10px;
    border-width: 1px;
    background-color: black;
    color: #e7bc2a;
    display: flex;
    border-style: solid;

}

.movies_title_container {
    width: 210px;
    align-items: flex-start;
    border: #e7bc2a;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
}

.details_container {
    padding: 10px;
    border-width: 10px;
    border: #e7bc2a;
    text-align-last: center;
    align-self: center;
    width: fit-content;
}

.title{
    border: #e7bc2a;
    border-style:solid;
    border-width: 1px;
    text-align-last: center;
}

.releaseDate{
    margin: 0;
    border: #e7bc2a;
    border-style:solid;
    border-width: 1px;
    text-align-last: center;
}